.pageContentContainer{
    display: flex;
    margin: auto;
    width: 990px;
}

.homeContainer
{
    display: flex;
    top: 1%;
    /* position: relative; */
    width: 720px;
    height: 700px;
    margin: 0px 25px 0px 0px;
    /* margin: auto; */
    /* padding-right: 10px; */
    /* padding-left: 10px; */
}

.profileContainer
{
    width: 71.5%;
    height: 100%;
    position: relative;
    background-color: #4178b6;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 45%;
    box-shadow: 0px 0px 70px -10px black;
}

.profileContainer::before
{
    content: "";
    background-color: #4B85C6;
    width: 120px;
    height: 150px;
    position: absolute;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 65%;
    box-shadow: 0px 0px 70px -10px black;
    transform: rotate(25deg);
}
.profileContainer::after
{
    content: "";
    bottom: 14px;
    left: -5px;
    background-color: #4B85C6;
    width: 40px;
    height: 290px;
    position: absolute;
    border-top-left-radius: 100%;
    box-shadow: 0px 0px 70px -10px black;
    transform: rotate(-40deg);
    transform-origin: bottom;
}

.func_img
{
    height: 35px;
    top: 9%; 
    left: 9%;
    position: relative; 
    display: block; 
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    transform: rotate(180deg);  
}

.func_img:hover 
{    
    transform: scale(1.2);     
}

.profileImage
{
    border-radius: 50%;
    width: 30%;
    margin: auto;
    position: relative;
    display: block;
    top: 4%;
    box-shadow: 3px 0px 15px 1px black;
}

.descriptionContainer
{
    top: 10%;
    position: relative;
    text-align: center;
    color: #ffffff;
}

.searchContainer 
{
    display: inline-block;
    position: relative;
    width: 28.5%;
    height: 30%;
    padding: 10px;
    background-color: #4178b6;
    border-radius: 13px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: -11px 0px 0 -10px black;
}
  
.searchContainer:hover input
{
    width: 180px;
    padding: 0 35px 0 8px;
}
  
.searchBar 
{
    width: 0px;
    height: 35px;
    border: 0;
    transition: all 0.3s;
}
  
.searchBtn 
{
    width: 35px;
    height: 35px;
    background-color: #333;
    color: #fff;
    border: 0;
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guestSearch
{
    top: 0;
    left: 44%;
    position: fixed;
    color: white;
}

.users
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 235px;    

    a
    {
        text-decoration: none;
        padding: 5px;
        color: #76daff;
        position: relative;
        background: #2d303a;
        border-radius: 6px;
        display: flex;
    }

    img
    {
        width: 15px;
        height: 15px;
        margin: 3px 10px 0 1px;
        outline: 0;
        border: 0;
        border-radius: 10px;
    }

    span
    {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    span:hover
    {
        overflow: visible;
    }

}

.all_users
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin: 0 0 1rem 0;
}